// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (min-width: 768px) {
	.input-group {
    	width: auto;
	}

 	#city_district_id {
		width: auto;
	}
}

@media (min-width: 769px) {
	.input-group {
    	width: 120px;
	}

 	#city_district_id {
		width: 150px;
	}
}

@media (min-width: 1170px) {
	.input-group {
    	width: 120px;
	}

 	#city_district_id {
		width: 200px;
	}
}

